

.headlines
{

  ul {
    list-style-type: none;
    height: 25rem;
    overflow: auto;
    overflow-x: hidden;
    .title {
      color: var(--highlight-color);
      font-size: larger;
      display: block;
    }
    li {
      margin-bottom: 1rem;
     img {
      display: inline-block;
      width: 40rem;
     }
     span {
      float: left;
      color: lightgray;
     }
     border-bottom: .25rem solid gray;

    }
  }
}
